.scaleOnHover:hover {
  transform:scale(1.8,1.8);
  -webkit-transform:scale(1.8,1.8);
  -moz-transform:scale(1.8,1.8);
    }

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	position: absolute;
	top: 0;
	left: 0;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/* DNDdataForNewRecord & Modify Record*/
/**********************/
.DNDhover:hover {
  background: darkseagreen
}

/* icons for accordion */
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
  content:"\e080";
}

/* accordion bg color */
.panel-heading {
  cursor: pointer;
  background-color: darkgray;
}

.panel-default.panel-expanded > .panel-heading{
  background-color: #337ab7;
}

.panel-body {
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  border-top-width: 0px;
}

.well {
  margin-bottom: 0px
}

/***************Modify Record*************/
/* icons for calendar */
.input-calendar {
  width: 100% !important;
}

.input-calendar-wrapper {
  width: 210px !important;
}

.input-calendar input {
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Pontano Sans', sans-serif;
    font-size: 16px;
    padding: 2px 8px;
}

/* remove button*/
.makeItRed {
  color: red
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 30%;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 51px;
  width: 280px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
  background-color: #ddd;
}

/* space between inputs */
.form-group {
 margin-bottom: 0px
}


.Select-control {
    background-color: #fff;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    cursor: default;
    display: table;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
}

/*utility css */
.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}
