.scaleOnHover:hover {
  transform:scale(1.8,1.8);
  -webkit-transform:scale(1.8,1.8);
  -moz-transform:scale(1.8,1.8);
    }

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
	position: absolute;
	top: 0;
	left: 0;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

/* DNDdataForNewRecord */
/**********************/
.DNDhover:hover {
  background: darkseagreen
}

/* icons for accordion */
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}

.panel-heading a.collapsed:after {
  content:"\e080";
}

/* accordion bg color */
.panel-heading {
  cursor: pointer;
  background-color: darkgray;
}

.panel-default.panel-expanded > .panel-heading{
  background-color: #337ab7;
}

/***************Modify Record*************/
/* icons for calendar */
.input-calendar .calendar-icon {
 padding: 0px 30px !important;
}

/* remove button*/
.makeItRed {
  color: red
}
